TELEGRAM_TOKEN=TU_TELEGRAMBOT_TOKEN
OLLAMA_URL=http://localhost:11434/api/generate
MODEL=llama3.2:3b
WISPRO_URL=https://TUISP.wispro.co
WISPRO_TOKEN=TU_WISPRO_TOKEN
WHITELIST_FILE=whitelist.json
LOGS_DIR=logs
MEMORIA_TURNOS=5